<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Author - Books Store Application</title>
  <link rel="icon" type="image/png" th:href="@{/icons8-library-96.png}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" th:href="@{/css/addedit.css}"/>
</head>
<body>

<div id="navbar-root" 
     th:data-user-role="${#authorization.expression('hasRole(''ADMIN'')') ? 'ADMIN' : (#authorization.expression('hasRole(''USER'')') ? 'USER' : 'GUEST')}"
     th:data-is-authenticated="${#authorization.expression('isAuthenticated()')}"
     th:data-csrf-token="${_csrf.token}">
</div>


<h1>Edit Author</h1>

<div class="center">
  <form th:action="@{/editAuthor}" method="post" th:object="${authorUpdate}">
    <input type="hidden" name="_method" value="put"/>

    <!-- Global form errors -->
    <div th:if="${#fields.hasGlobalErrors()}" class="error-message">
      <ul>
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>
    </div>

    <table>

      <input type="hidden" th:field="*{id}"/>

      <tr>
        <th>First Name:</th>
        <td><label>
          <input type="text" th:field="*{firstName}"
                 th:class="${#fields.hasErrors('firstName')} ? 'error' : ''"
                 maxlength="50" pattern="^[a-zA-Z\s\-.']+" required/>
        </label>
          <br><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="field-error"></span>
        </td>
      </tr>

      <tr>
        <th>Last Name:</th>
        <td><label>
          <input type="text" th:field="*{lastName}"
                 th:class="${#fields.hasErrors('lastName')} ? 'error' : ''"
                 maxlength="50" pattern="^[a-zA-Z\s\-.']+" required/>
        </label>
          <br><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="field-error"></span>
        </td>
      </tr>

      <tr>
        <td colspan="2" style="text-align: center;" th:unless="${!#lists.isEmpty(listBooks)}">You will be able to add
          books once you create some.
        </td>
      </tr>
      <tr th:if="${listBooks != null and !#lists.isEmpty(listBooks)}">
        <th>Books:</th>
        <td>
          <label>
            <select th:field="*{bookIds}" multiple size="6" class="books-select">
              <option th:each="book : ${listBooks}"
                      th:value="${book.id}"
                      th:text="${book.title}"></option>
            </select>
          </label>
          <small>Hold CTRL (CMD on macOS) to select multiple books. Maximum 50 books allowed.</small>
          <br><span th:if="${#fields.hasErrors('bookIds')}" th:errors="*{bookIds}" class="field-error"></span>
        </td>
      </tr>

      <tr>
        <td colspan="2" style="text-align: center;">
          <button type="submit">Save</button>
        </td>
      </tr>
    </table>
  </form>
</div>

<div id="footer-root"></div>

<script th:src="@{/js/bundle.js}"></script>
</body>

</html>
