<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="3;url=/books"/>
  <title>Order Confirmation</title>
  <link rel="icon" type="image/png" th:href="@{/icons8-library-96.png}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" th:href="@{/css/orderConfirmation.css}"/>

</head>
<body>

<div id="navbar-root" 
     th:data-user-role="${#authorization.expression('hasRole(''ADMIN'')') ? 'ADMIN' : (#authorization.expression('hasRole(''USER'')') ? 'USER' : 'GUEST')}"
     th:data-is-authenticated="${#authorization.expression('isAuthenticated()')}"
     th:data-csrf-token="${_csrf.token}">
</div>


<div class="confirmation-wrapper">
  <div class="confirmation-box">
    <h1>Success!</h1>
    <p>
      Order with ID <strong th:text="'#' + ${orderId}">#ABC123</strong> was placed.<br>
      Redirecting back to the store...
    </p>
  </div>
</div>

<div id="footer-root"></div>

<script>
    setTimeout(() => {
        window.location.href = '/books';
    }, 3000);
</script>
<script th:src="@{/js/bundle.js}"></script>
</body>
</html>
